* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.parent-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.child-container {
  align-self: center;
  text-align: center;
}
.user-img {
  width: 160px;
  height: 160px;
}
.header-store {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 80px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.header-store p {
  margin: 0px;
  padding-left: 10px;
  font-weight: bold;
}
.user-form {
  font-weight: bold;
}
.first-form {
  width: 200px;
}
.first-button {
  width: 200px;
  font-weight: bold;
}
