* {
  box-sizing: border-box;
  margin: 2px;
  padding: 0px;
}
.test-header {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 100px;
  margin-top: 10px;
}
.test-header :nth-child(2) {
  margin-top: 10px;
  display: flex;
  align-items: flex-end;
}
.test-header p {
  margin-top: 8px;
  padding-left: 10px;
  font-weight: bold;
}
.basket-image {
  width: 40px;
  height: 41px;
}
/* .button-basket {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  width: 75px;
  font-size: 14px;
  border: solid 1px gray;
  border-radius: 3px;
  margin-left: 5px;
} */
.button-basket {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 5px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-basket:hover,
.button-basket:focus {
  background-color: #07c;
}

.button-basket:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.button-basket:active {
  background-color: #0064bd;
  box-shadow: none;
}
/* .section-wrapper p,
div {
  margin: 5px;
} */
.test-user {
  font-size: 14px;
  margin-left: 35px;
}
.card-img {
  width: 140px;
  height: 220px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.user-form {
  margin: 0px;
  margin-right: 5px;
}
.input-form {
  display: flex;
  align-items: center;
}
.input-style {
  width: 200px;
  padding: 1px;
}

.button-add-cart {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 5px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  margin-bottom: 16px;
}

.button-add-cart:hover,
.button-add-cart:focus {
  background-color: #07c;
}

.button-add-cart:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.button-add-cart:active {
  background-color: #0064bd;
  box-shadow: none;
}
